@model InventarioComputadoras.Models.Computadora
@{
    ViewData["Title"] = "Crear Nuevo Computador";
}
<h1>Computadoras </h1>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong> Crear Computador </strong></h3>
            </div>
            <div class="card-body">
                <form asp-action="Crear" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="informacionBasicaTab" data-toggle="tab" href="#informacionBasica">Información Básica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="licenciasTab" data-toggle="tab" href="#licencias">Licencias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="estadoTab" data-toggle="tab" href="#estado">Estado</a>

                        <li class="nav-item">
                            <a class="nav-link" id="hardwareTab" data-toggle="tab" href="#hardware">Hardware</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="almacenamientoTab" data-toggle="tab" href="#almacenamiento">Almacenamiento</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="informacionBasica">
                            <!---------------------------------------Información Básica------------------------------------------- -->
                            <div class="form-group">
                                <label asp-for="Oficina" class="control-label"></label>
                                <select asp-for="Oficina" asp-items="ViewBag.Zonas" class="form-control"></select>
                                <span asp-validation-for="Oficina" class="text-danger"></span>
                            </div>

                            
                            <div class="form-group">
                                <label asp-for="Departamento" class="control-label"></label>
                                <select asp-for="Departamento" asp-items="ViewBag.Departamentos" class="form-control"></select>
                                <span asp-validation-for="Departamento" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="NombreAnterior" class="control-label"></label>
                                <input asp-for="NombreAnterior" class="form-control" placeholder="Ingresa el Nombre Anterior" />
                                <div class="form-check" style="color: #fff; font-weight: lighter;">
                                    <input class="form-check-input" type="checkbox" id="sinNombreAnteriorCheck">
                                    <label class="form-check-label" for="sinNombreAnteriorCheck">
                                        Sin nombre anterior
                                    </label>
                                </div>
                                <input type="hidden" asp-for="SinNombreAnterior" id="sinNombreAnteriorHidden">
                                <span asp-validation-for="NombreAnterior" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="NombreNuevo" class="control-label"></label>
                                <div class="input-group">
                                    <input asp-for="NombreNuevo" class="form-control" placeholder="Ingresa el Nombre Nuevo de Manera Manual" style="display: none;" />
                                    <span class="input-group-btn">
                                        <button type="button" id="mostrarNombreNuevo" class="btn btn-primary">Generar Nuevo Nombre De Manera Manual</button>
                                        <button type="button" id="bloquearNombreNuevo" class="btn btn-danger">Generar Nuevo Nombre en Base a Departamento y Oficina</button>
                                    </span>
                                </div>
                                <span asp-validation-for="NombreNuevo" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Usuario" class="control-label"></label>
                                <input asp-for="Usuario" class="form-control" placeholder="Ingresa el Usuario" />
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Dominio" class="control-label"></label>
                                <select asp-for="Dominio" asp-items="ViewBag.dominio" class="form-control"></select>
                                <span asp-validation-for="Dominio" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="CodigoConstitucional" class="control-label"></label>
                                <input asp-for="CodigoConstitucional" class="form-control" placeholder="Ingresa el Código Constitucional" />
                                <span asp-validation-for="CodigoConstitucional" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="DireccionIp" class="control-label"></label>
                                <input asp-for="DireccionIp" class="form-control" placeholder="Ingresa la Dirección IP" />
                                <div class="form-check" style="color: #fff; font-weight: lighter;">
                                    <input class="form-check-input" type="checkbox" id="sinDireccionIPCheck">
                                    <label class="form-check-label" for="sinDireccionIPCheck">
                                        Sin Direccion IP
                                    </label>
                                </div>
                                <input type="hidden" asp-for="SinDireccionIP" id="sinDireccionIPHidden">
                                <span asp-validation-for="DireccionIp" class="text-danger"></span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                        </div>
                        <div class="tab-pane fade" id="licencias">
                            <!-------------------------------------------------Informacion de Software------------------------------------------------------>
                            <div class="form-group">
                                <label for="licenciaSOText">Licencia del Sistema Operativo:</label>
                                <input class="form-control" id="licenciaSOText" disabled="" placeholder="Elija una opción" type="text" name="LicenciaSO">
                                <div class="form-check mt-2" style="color: #fff; font-weight: lighter;">
                                    <input asp-for="ConLicenciaSO" type="checkbox" class="form-check-input" id="conLicenciaSOCheck">
                                    <label class="form-check-label" for="conLicenciaSOCheck">
                                        Con licencia de sistema operativo
                                    </label>
                                </div>
                                <div class="form-check" style="color: #fff; font-weight: lighter;">
                                    <input asp-for="SinLicenciaSO" type="checkbox" class="form-check-input" id="sinLicenciaSOCheck">
                                    <label class="form-check-label" for="sinLicenciaSOCheck">
                                        Sin licencia de sistema operativo
                                    </label>
                                </div>
                                <span asp-validation-for="LicenciaSO" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="sistemaOperativoDiv" style="display:none;">
                                <label asp-for="SistemaOperativo" class="control-label"></label>
                                <select asp-for="SistemaOperativo" asp-items="ViewBag.sistemaoperativo" class="form-control"></select>
                                <span asp-validation-for="SistemaOperativo" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label for="officeText">Licencia de Office:</label>
                                <div>
                                    <input class="form-control" id="officeText" disabled="" placeholder="Elija una opción" type="text" name="Office">
                                </div>
                                <div class="form-check mt-2" style="color: #fff; font-weight: lighter;">
                                    <input asp-for="ConLicenciaOffice" type="checkbox" class="form-check-input" id="conLicenciaOfficeCheck">
                                    <label class="form-check-label" for="conLicenciaOfficeCheck">
                                        Con licencia de Office
                                    </label>
                                </div>
                                <div class="form-check" style="color: #fff; font-weight: lighter;">
                                    <input asp-for="SinLicenciaOffice" type="checkbox" class="form-check-input" id="sinLicenciaOfficeCheck">
                                    <label class="form-check-label" for="sinLicenciaOfficeCheck">
                                        Sin licencia de Office
                                    </label>
                                </div>
                                <span asp-validation-for="Office" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="verofficeDiv" style="display:none;">
                                <label asp-for="VersionOffice" class="control-label"></label>
                                <select asp-for="VersionOffice" asp-items="ViewBag.office" class="form-control"></select>
                                <span asp-validation-for="VersionOffice" class="text-danger"></span>
                            </div>


                            <div class="form-group" id="fechaofficeDiv" style="display:none;">
                                <label asp-for="FechaOffice" class="control-label"></label>
                                <input asp-for="FechaOffice" class="form-control" type="date" />
                                <span asp-validation-for="FechaOffice" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label for="antivirusText">Licencia de Antivirus:</label>
                                <div>
                                <input class="form-control" id="antivirusText" disabled="" placeholder="Elija una opción" type="text" name="LicenciaAntivirus">
                                </div>
                                <div class="form-check mt-2" style="color: #fff; font-weight: lighter;">
                                    <input asp-for="ConAntivirus" type="checkbox" class="form-check-input" id="conAntivirusCheck">
                                    <label class="form-check-label" for="conAntivirusCheck">
                                        Con licencia de Antivirus
                                    </label>
                                </div>
                                <div class="form-check" style="color: #fff; font-weight: lighter;">
                                    <input asp-for="SinAntivirus" type="checkbox" class="form-check-input" id="sinAntivirusCheck">
                                    <label class="form-check-label" for="sinAntivirusCheck">
                                        Sin licencia de Antivirus
                                    </label>
                                </div>
                                <span asp-validation-for="LicenciaAntivirus" class="text-danger"></span>
                            </div>
                            <div class="form-group" id="antivirusDiv" style="display:none;">
                                <label asp-for="VersionAntivirus" class="control-label"></label>
                                <select asp-for="VersionAntivirus" asp-items="ViewBag.antivirus" class="form-control"></select>
                                <span asp-validation-for="VersionAntivirus" class="text-danger"></span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                        </div>
                        <div class="tab-pane fade" id="estado">
                            <!------------------------------------------------Informacion de adquisicion---------------------------------------------------->
                            <div class="form-group" id="fechaadquisicionDiv">
                                <label asp-for="FechaAdquisicion" class="control-label"></label>
                                <input asp-for="FechaAdquisicion" class="form-control" type="date" />
                                <span asp-validation-for="FechaAdquisicion" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <label asp-for="Estado" class="control-label"></label>
                                <select asp-for="Estado" asp-items="ViewBag.estado" class="form-control"></select>
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Proveedor" class="control-label"></label>
                                <input asp-for="Proveedor" class="form-control" placeholder="Ingresa el Proveedor" />
                                <span asp-validation-for="Proveedor" class="text-danger"></span>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>

                        </div>
                        <div class="tab-pane fade" id="hardware">
                            <div id="botonesAlmacenamientoAdicional" class="contenedor-boton">
                                <button type="button" id="habilitarAlmacenamientos" class="btn btn-primary" style="background-color: #2ab823; border-color: #2ab823; color: #fff;">Crear Almacenamientos</button>
                            </div>
                            <!------------------------------------------------HARDWARE---------------------------------------------------------------------->
                            <h2>HARDWARE</h2>
                            <div class="form-group" style="color: #ffc0cb; font-weight: lighter;">
                                <label asp-for="Tipo" class="control-label"></label>
                                <select asp-for="Tipo" asp-items="ViewBag.tipo" class="form-control"></select>
                                <span asp-validation-for="Tipo" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group" style="color: #ffc0cb; font-weight: lighter;">
                                <label asp-for="Marca" class="control-label"></label>
                                <input asp-for="Marca" class="form-control" placeholder="Ingresa la Marca del Dispositivo" />
                                <span asp-validation-for="Marca" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="color: #ffc0cb; font-weight: lighter;">
                                <label asp-for="NParte" class="control-label"></label>
                                <input asp-for="NParte" class="form-control" placeholder="Ingresa el Número de Parte" />
                                <span asp-validation-for="NParte" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="color: #ffc0cb; font-weight: lighter;">
                                <label asp-for="NSerie" class="control-label"></label>
                                <input asp-for="NSerie" class="form-control" placeholder="Ingresa el Número de Serie" />
                                <span asp-validation-for="NSerie" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="color: #ffc0cb; font-weight: lighter;">
                                <label asp-for="MotherBoard" class="control-label"></label>
                                <input asp-for="MotherBoard" class="form-control" placeholder="Ingresa la MotherBoard" />
                                <span asp-validation-for="MotherBoard" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="color: #ffc0cb; font-weight: lighter;">
                                <label asp-for="Procesador" class="control-label"></label>
                                <input asp-for="Procesador" class="form-control" placeholder="Ingresa el Procesador" />
                                <span asp-validation-for="Procesador" class="text-danger"></span>
                            </div>

                            <h2>MEMORIA RAM</h2>
                            <ul>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="MemoriaRamTipo" class="control-label"></label>
                                    <select asp-for="MemoriaRamTipo" asp-items="ViewBag.tiporam" class="form-control"></select>
                                    <span asp-validation-for="MemoriaRamTipo" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="MemoriaModulos" class="control-label"></label>
                                    <select asp-for="MemoriaModulos" asp-items="ViewBag.modulosram" class="form-control"></select>
                                    <span asp-validation-for="MemoriaModulos" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="MemoriaRamCapacidad" class="control-label"></label>
                                    <select asp-for="MemoriaRamCapacidad" asp-items="ViewBag.capacidadram" class="form-control"></select>
                                    <span asp-validation-for="MemoriaRamCapacidad" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="MemoriaRamMarca" class="control-label"></label>
                                    <input asp-for="MemoriaRamMarca" class="form-control" placeholder="Ingresa la Marca de la Memoria Ram" />
                                    <span asp-validation-for="MemoriaRamMarca" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="MemoriaRamNumeroSerie" class="control-label"></label>
                                    <input asp-for="MemoriaRamNumeroSerie" class="form-control" placeholder="Ingresa el Número de Serie de la Memoria RAM" />
                                    <span asp-validation-for="MemoriaRamNumeroSerie" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="MemoriaRamNumeroParte" class="control-label"></label>
                                    <input asp-for="MemoriaRamNumeroParte" class="form-control" placeholder="Ingresa el Número de Parte de la Memoria RAM" />
                                    <span asp-validation-for="MemoriaRamNumeroParte" class="text-danger"></span>
                                </li>
                            </ul>

                            <h2>ALMACENAMIENTO</h2>
                            <ul>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="AlmacenamientoTipo" class="control-label"></label>
                                    <select asp-for="AlmacenamientoTipo" asp-items="ViewBag.tipoalmacenamiento" class="form-control"></select>
                                    <span asp-validation-for="AlmacenamientoTipo" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="AlmacenamientoCapacidad" class="control-label"></label>
                                    <select asp-for="AlmacenamientoCapacidad" asp-items="ViewBag.capacidadalmacenamiento" class="form-control"></select>
                                    <span asp-validation-for="AlmacenamientoCapacidad" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="AlmacenamientoMarca" class="control-label"></label>
                                    <input asp-for="AlmacenamientoMarca" class="form-control" placeholder="Ingresa la Marca del Disco Duro" />
                                    <span asp-validation-for="AlmacenamientoMarca" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="AlmacenamientoNumeroSerie" class="control-label"></label>
                                    <input asp-for="AlmacenamientoNumeroSerie" class="form-control" placeholder="Ingresa el Número de Serie del Disco Duro" />
                                    <span asp-validation-for="AlmacenamientoNumeroSerie" class="text-danger"></span>
                                </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                    <label asp-for="AlmacenamientoNumeroParte" class="control-label"></label>
                                    <input asp-for="AlmacenamientoNumeroParte" class="form-control" placeholder="Ingresa el Número de Parte del Disco Duro" />
                                    <span asp-validation-for="AlmacenamientoNumeroParte" class="text-danger"></span>
                                </li>
                            </ul>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                            <!----------------------------------------------Botón--------------------------------------------------------------------------->
                            <div class="form-group mt-3">
                                <button id="btnCrear" type="submit" class="btn btn-secondary d-block mx-auto" style="background-color: #5F51F3; border-color: #5F51F3; color: #ffffff;">Crear  Computador</button>
                            </div>
                            <!------------------------------------------------------------------------------------------------------------------------------>
                        </div>

                        <div class="tab-pane fade" id="almacenamiento">
                            <div>
                                <div>
                                    <div id="botonesAlmacenamiento" class="contenedor-botones">
                                        <button type="button" id="crearAlmacenamiento" class="btn btn-primary" style="background-color: #2ab823; border-color: #2ab823; color: #fff;">Crear Almacenamiento</button>
                                        <button type="button" id="quitarAlmacenamiento" class="btn btn-secondary" style="background-color: #D41B1B; border-color: #D41B1B; color: #ffffff;">Quitar Almacenamiento</button>
                                    </div>
                                    <ul id="listaAlmacenamiento">
                                        @if (Model.Almacenamientos.Count == 0)
                                        {
                                            <li style="color: #ffc0cb; font-weight: lighter;">
                                                <label class="control-label">Tipo de Almacenamiento</label>
                                                <select asp-for="Almacenamientos[0].TipoAlmacenamiento" asp-items="ViewBag.tipoalmacenamiento" class="form-control"></select>
                                                <span asp-validation-for="Almacenamientos[0].TipoAlmacenamiento" class="text-danger"></span>
                                            </li>
                                            <li style="color: #ffc0cb; font-weight: lighter;">
                                                <label class="control-label">Capacidad de Almacenamiento</label>
                                                <select asp-for="Almacenamientos[0].CapacidadAlmacenamiento" asp-items="ViewBag.capacidadalmacenamiento" class="form-control"></select>
                                                <span asp-validation-for="Almacenamientos[0].CapacidadAlmacenamiento" class="text-danger"></span>
                                            </li>
                                            <li style="color: #ffc0cb; font-weight: lighter;">
                                                <label class="control-label">Marca de Almacenamiento</label>
                                                <input asp-for="Almacenamientos[0].MarcaAlmacenamiento" class="form-control" placeholder="Ingresa la Marca del Disco Duro" />
                                                <span asp-validation-for="Almacenamientos[0].MarcaAlmacenamiento" class="text-danger"></span>
                                            </li>
                                            <li style="color: #ffc0cb; font-weight: lighter;">
                                                <label class="control-label">Número de Serie</label>
                                                <input asp-for="Almacenamientos[0].NumeroSerieAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Serie del Disco Duro" />
                                                <span asp-validation-for="Almacenamientos[0].NumeroSerieAlmacenamiento" class="text-danger"></span>
                                            </li>
                                            <li style="color: #ffc0cb; font-weight: lighter;">
                                                <label class="control-label">Número de Parte</label>
                                                <input asp-for="Almacenamientos[0].NumeroParteAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Parte del Disco Duro" />
                                                <span asp-validation-for="Almacenamientos[0].NumeroParteAlmacenamiento" class="text-danger"></span>
                                            </li>
                                        }
                                        else
                                        {
                                            @for (var i = 1; i <= Model.Almacenamientos.Count; i++)
                                            {
                                                <li style="color: #ffc0cb; font-weight: lighter;">
                                                    <label class="control-label">Tipo de Almacenamiento @i</label>
                                                    <select asp-for="Almacenamientos[i - 1].TipoAlmacenamiento" asp-items="ViewBag.tipoalmacenamiento" class="form-control"></select>
                                                    <span asp-validation-for="Almacenamientos[i - 1].TipoAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li style="color: #ffc0cb; font-weight: lighter;">
                                                    <label class="control-label">Capacidad de Almacenamiento @i</label>
                                                    <select asp-for="Almacenamientos[i - 1].CapacidadAlmacenamiento" asp-items="ViewBag.capacidadalmacenamiento" class="form-control"></select>
                                                    <span asp-validation-for="Almacenamientos[i - 1].CapacidadAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li style="color: #ffc0cb; font-weight: lighter;">
                                                    <label class="control-label">Marca de Almacenamiento @i</label>
                                                    <input asp-for="Almacenamientos[i - 1].MarcaAlmacenamiento" class="form-control" placeholder="Ingresa la Marca del Disco Duro" />
                                                    <span asp-validation-for="Almacenamientos[i - 1].MarcaAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li style="color: #ffc0cb; font-weight: lighter;">
                                                    <label class="control-label">Número de Serie @i</label>
                                                    <input asp-for="Almacenamientos[i - 1].NumeroSerieAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Serie del Disco Duro" />
                                                    <span asp-validation-for="Almacenamientos[i - 1].NumeroSerieAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <li style="color: #ffc0cb; font-weight: lighter;">
                                                    <label class="control-label">Número de Parte @i</label>
                                                    <input asp-for="Almacenamientos[i - 1].NumeroParteAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Parte del Disco Duro" />
                                                    <span asp-validation-for="Almacenamientos[i - 1].NumeroParteAlmacenamiento" class="text-danger"></span>
                                                </li>
                                                <hr>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <a asp-controller="Inicio" asp-action="Index" style="color: #fff;">Volver</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>    
        //-----------------------------------------SIN NOMBRE SCRIPT-------------------------------------------------//
        document.addEventListener('DOMContentLoaded', function () {
            var sinNombreAnteriorCheck = document.getElementById('sinNombreAnteriorCheck');
            var nombreAnteriorInput = document.getElementById('NombreAnterior');
            var sinNombreAnteriorHidden = document.getElementById('sinNombreAnteriorHidden');

            if (!sinNombreAnteriorCheck.checked) {
                nombreAnteriorInput.disabled = false;
                sinNombreAnteriorHidden.value = 'false';
            } else {
                nombreAnteriorInput.disabled = true;
                nombreAnteriorInput.value = "Sin nombre anterior";
                sinNombreAnteriorHidden.value = 'true';
            }
        });

        document.getElementById('sinNombreAnteriorCheck').addEventListener('change', function () {
            var nombreAnteriorInput = document.getElementById('NombreAnterior');
            var sinNombreAnteriorHidden = document.getElementById('sinNombreAnteriorHidden');

            if (this.checked) {
                nombreAnteriorInput.disabled = true;
                nombreAnteriorInput.value = "Sin nombre anterior";
                sinNombreAnteriorHidden.value = 'true';
            } else {
                nombreAnteriorInput.disabled = false;
                nombreAnteriorInput.value = "";
                sinNombreAnteriorHidden.value = 'false';
            }
        });
        //-------------------------------------------------------------------------------------------------------//

        //----------SIN DIRECCION IP------------/
        document.addEventListener('DOMContentLoaded', function () {
            var sinDireccionIPCheck = document.getElementById('sinDireccionIPCheck');
            var DireccionIpInput = document.getElementById('DireccionIp');
            var sinDireccionIPHidden = document.getElementById('sinDireccionIPHidden');
            if (!sinDireccionIPCheck.checked) {
                DireccionIpInput.disabled = false;
                sinDireccionIPHidden.value = 'false';
            } else {
                DireccionIpInput.disabled = true;
                DireccionIpInput.value = "Sin Direccion IP";
                sinDireccionIPHidden.value = 'true';
            }
        });

        document.getElementById('sinDireccionIPCheck').addEventListener('change', function () {
            var DireccionIPInput = document.getElementById('DireccionIp');
            var sinDireccionIPHidden = document.getElementById('sinDireccionIPHidden');
            if (this.checked) {
                DireccionIPInput.disabled = true;
                DireccionIPInput.value = "Sin Direccion IP";
                sinDireccionIPHidden.value = 'true';
            } else {
                DireccionIPInput.disabled = false;
                DireccionIPInput.value = "";
                sinDireccionIPHidden.value = 'false';
            }
        });
        //-------------------------------------------------------------------------------------------------------//

        //----------LICENCIA SISTEMA OPERATIVO------------/
        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaSOCheck = document.getElementById('conLicenciaSOCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaSOCheck');
            var licenciaSOText = document.getElementById('licenciaSOText');

            conLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    sinLicenciaSOCheck.checked = false;
                    licenciaSOText.value = "Si";
                } else {
                    licenciaSOText.value = "";
                }
            });

            sinLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    conLicenciaSOCheck.checked = false;
                    licenciaSOText.value = "No";
                } else {
                    licenciaSOText.value = "";
                }
            });
        });


        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaSOCheck = document.getElementById('conLicenciaSOCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaSOCheck');
            var sistemaOperativoDiv = document.getElementById('sistemaOperativoDiv');
            var sistemaOperativoSelect = document.getElementById('SistemaOperativo');


            conLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    sistemaOperativoDiv.style.display = 'block';
                } else {
                    sistemaOperativoDiv.style.display = 'none';
                }
            });

            sinLicenciaSOCheck.addEventListener('change', function () {
                if (this.checked) {
                    sistemaOperativoDiv.style.display = 'none';
                    sistemaOperativoSelect.selectedIndex = 0;
                } else {
                    if (conLicenciaSOCheck.checked) {
                        sistemaOperativoDiv.style.display = 'block';
                    }
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//
        //-------------------------------------------LICENCIA OFFICE---------------------------------------------//
        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaOfficeCheck = document.getElementById('conLicenciaOfficeCheck');
            var sinLicenciaOfficeCheck = document.getElementById('sinLicenciaOfficeCheck');
            var officeText = document.getElementById('officeText');

            conLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    sinLicenciaOfficeCheck.checked = false;
                    officeText.value = "Si";
                } else {
                    officeText.value = "";
                }
            });

            sinLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    conLicenciaOfficeCheck.checked = false;
                    officeText.value = "No";
                } else {
                    officeText.value = "";
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaOfficeCheck = document.getElementById('conLicenciaOfficeCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaOfficeCheck');
            var verofficeDiv = document.getElementById('verofficeDiv');

            conLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    verofficeDiv.style.display = 'block';
                } else {
                    verofficeDiv.style.display = 'none';
                }
            });

            sinLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    verofficeDiv.style.display = 'none';
                } else {
                    if (conLicenciaOfficeCheck.checked) {
                        verofficeDiv.style.display = 'block';
                    }
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var conLicenciaOfficeCheck = document.getElementById('conLicenciaOfficeCheck');
            var sinLicenciaSOCheck = document.getElementById('sinLicenciaOfficeCheck');
            var fechaofficeDiv = document.getElementById('fechaofficeDiv');
            var versionOfficeSelect = document.getElementById('VersionOffice');
            var fechaOfficeInput = document.getElementById('FechaOffice');

            conLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    fechaofficeDiv.style.display = 'block';
                } else {
                    fechaofficeDiv.style.display = 'none';
                }
            });

            sinLicenciaOfficeCheck.addEventListener('change', function () {
                if (this.checked) {
                    verofficeDiv.style.display = 'none';
                    fechaofficeDiv.style.display = 'none';
                    versionOfficeSelect.selectedIndex = 0;
                    fechaOfficeInput.value = '';
                } else {
                    if (conLicenciaOfficeCheck.checked) {
                        verofficeDiv.style.display = 'block';
                        fechaofficeDiv.style.display = 'block';
                    }
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//
        //----------------------------------------LICENCIA ANTIVIRUS--------------------------------------------//
        document.addEventListener('DOMContentLoaded', function () {
            var conAntivirusCheck = document.getElementById('conAntivirusCheck');
            var sinAntivirusCheck = document.getElementById('sinAntivirusCheck');
            var antivirusText = document.getElementById('antivirusText');

            conAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    sinAntivirusCheck.checked = false;
                    antivirusText.value = "Si";
                } else {
                    antivirusText.value = "";
                }
            });

            sinAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    conAntivirusCheck.checked = false;
                    antivirusText.value = "No";
                } else {
                    antivirusText.value = "";
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var conAntivirusCheck = document.getElementById('conAntivirusCheck');
            var sinAntivirusCheck = document.getElementById('sinAntivirusCheck');
            var antivirusDiv = document.getElementById('antivirusDiv');
            var versionAntivirusSelect = document.getElementById('VersionAntivirus');

            conAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    antivirusDiv.style.display = 'block';
                } else {
                    antivirusDiv.style.display = 'none';
                }
            });

            sinAntivirusCheck.addEventListener('change', function () {
                if (this.checked) {
                    antivirusDiv.style.display = 'none';
                    versionAntivirusSelect.selectedIndex = 0;
                } else {
                    if (conAntivirusCheck.checked) {
                        antivirusDiv.style.display = 'block';
                    }
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//
        //-----------------------------------AGREGAR ALMACENAMIENTO----------------------------------------------//
        $(document).ready(function () {
            var contador = @Model.Almacenamientos.Count;

            $("#crearAlmacenamiento").click(function () {
                contador++;
                var nuevoCampo = `
                                        <li style="color: #ffc0cb; font-weight: lighter;">
                                        <label class="control-label">Tipo de Almacenamiento ${contador}</label>
                                <select name="Almacenamientos[${contador - 1}].TipoAlmacenamiento" class="form-control">
        @foreach (var item in ViewBag.tipoalmacenamiento)
        {
                                             <option value="@item.Value">@item.Text</option>
        }
                                </select>
                                <span class="text-danger"></span>
                            </li>
                                        <li style="color: #ffc0cb; font-weight: lighter;">
                                        <label class="control-label">Capacidad de Almacenamiento ${contador}</label>
                                <select name="Almacenamientos[${contador - 1}].CapacidadAlmacenamiento" class="form-control">
        @foreach (var item in ViewBag.capacidadalmacenamiento)
        {
                                             <option value="@item.Value">@item.Text</option>
        }
                                </select>
                                <span class="text-danger"></span>
                            </li>
                                        <li style="color: #ffc0cb; font-weight: lighter;">
                                        <label class="control-label">Marca de Almacenamiento ${contador}</label>
                                <input name="Almacenamientos[${contador - 1}].MarcaAlmacenamiento" class="form-control" placeholder="Ingresa la Marca del Disco Duro" />
                                <span class="text-danger"></span>
                            </li>
                                <li style="color: #ffc0cb; font-weight: lighter;">
                                <label class="control-label">Número de Serie ${contador}</label>
                                <input name="Almacenamientos[${contador - 1}].NumeroSerieAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Serie del Disco Duro" />
                                <span class="text-danger"></span>
                            </li>
                                        <li style="color: #ffc0cb; font-weight: lighter;">
                                        <label class="control-label">Número de Parte ${contador}</label>
                                <input name="Almacenamientos[${contador - 1}].NumeroParteAlmacenamiento" class="form-control" placeholder="Ingresa el Número de Parte del Disco Duro" />
                                <span class="text-danger"></span>
                            </li>
                            <hr>`;
                $("#listaAlmacenamiento").append(nuevoCampo);
            });

            $("#quitarAlmacenamiento").click(function () {
                if (contador > 0) {
                    $("ul").children("li").slice(-5).remove();
                    $("ul").children("hr").last().remove(); // Eliminar el último <hr>
                    contador--;
                }
            });

            $("#quitarAlmacenamientoPrimero").click(function () {
                if (contador > 0) {
                    $("ul").children("li").slice(0, 5).remove();
                    $("ul").children("hr").last().remove(); // Eliminar el último <hr>
                    contador--;
                }
            });
        });
        //-------------------------------------------------------------------------------------------------------//
        //-----------------------------------PESTAÑA-------------------------------------------------------------//
        $(document).ready(function () {
            $("#almacenamientoTab").addClass("disabled");
            $("#almacenamiento select, #almacenamiento input").prop("disabled", true);
            $("#crearAlmacenamiento, #quitarAlmacenamiento").hide();

            $("#habilitarAlmacenamientos").click(function () {
                $("#almacenamientoTab").removeClass("disabled");
                $("#almacenamiento select, #almacenamiento input").prop("disabled", false);
                $("#crearAlmacenamiento, #quitarAlmacenamiento").show();
                $(this).hide();
            });
        });

            document.addEventListener("DOMContentLoaded", function () {
                var oficinaSelect = document.querySelector("#Oficina");
                var departamentoSelect = document.querySelector("#Departamento");
                var tabs = document.querySelectorAll(".nav-tabs .nav-item a:not(#almacenamientoTab)"); // Excluir la pestaña "Almacenamiento"

                function verificarSeleccion() {
                    if (oficinaSelect.value === oficinaSelect.options[0].value || departamentoSelect.value === departamentoSelect.options[0].value) {
                        tabs.forEach(function (tab) {
                            tab.classList.add("disabled");
                            tab.removeAttribute("data-toggle");
                            tab.classList.remove("active");
                        });
                    } else {
                        tabs.forEach(function (tab) {
                            tab.classList.remove("disabled");
                            tab.setAttribute("data-toggle", "tab"); // Restaurar el atributo data-toggle
                        });
                    }
                }

                oficinaSelect.addEventListener("change", verificarSeleccion);
                departamentoSelect.addEventListener("change", verificarSeleccion);

                verificarSeleccion(); // Verificar al cargar la página
            });

        //-------------------------------------------------------------------------------------------------------//        
        //---------------------------------------NOMBRE NUEVO----------------------------------------------------//
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('mostrarNombreNuevo').addEventListener('click', function () {
                var inputNombreNuevo = document.getElementById('NombreNuevo');

                inputNombreNuevo.style.display = 'block';
                inputNombreNuevo.value = "";
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var inputNombreNuevo = document.getElementById('NombreNuevo');
            var botonBloquear = document.getElementById('bloquearNombreNuevo');

            botonBloquear.addEventListener('click', function () {
                inputNombreNuevo.value = "";
                inputNombreNuevo.style.display = 'none';
            });
        });
        //-------------------------------------------------------------------------------------------------------//
    </script>
}

<style>
    body {
        background-color: #d9d9d9;
        -webkit-text-size-adjust: 100% !important; /* For Safari, Safari on iOS */
        text-size-adjust: 100% !important; /* For Firefox for Android */
    }

    .form-control::placeholder {
        color: #7f7a75;
    }

    .card-body {
        background-color: #333333; /* Cambiar el color del fondo la tablas */
        color: #5a5aad; /* Cambiar el color del texto dentro del card body */
        font-weight: bold; /* Hacer que el texto dentro del cuerpo de la tarjeta sea negrita */
    }

    .form-control {
        background-color: #565656; /* Cambiar el color de fondo de los campos de texto */
        color: #ffffff; /* Cambiar el color del texto dentro de los campos de texto */
        border: 0px solid #ffffff; /* Añadir borde a los campos de texto */
    }

    .form-control:disabled {
        background-color: #565656; /* Cambiar el color de fondo de los campos de texto deshabilitados */
        color: #fff; /* Cambiar el color del texto dentro de los campos de texto deshabilitados */
    }

    .form-control:focus {
        background-color: #565656; /* Cambiar el color de fondo de los campos de texto deshabilitados */
        border: 0px solid #ffffff; /* Añadir borde a los campos de texto */
        outline: 0; /* Eliminar contorno al enfocar */
        box-shadow: #fff; /* Sombra al enfocar */
    }

    select.form-control {
        background-color: #808080; /* Cambiar el color de fondo del combo box */
        color: #ffffff !important; /* Cambiar el color del texto dentro del combo box */
    }

    .form-control:focus {
        color: #ffffff; /* Cambiar el color del texto cuando el campo de texto está enfocado */
    }

    .contenedor-botones {
        margin-top: 20px; /* Márgen superior */
        margin-bottom: 10px; /* Márgen inferior */
    }

    #botonesAlmacenamiento button {
        margin-right: 10px; /* Espacio entre los botones */
    }

    .contenedor-boton {
        margin-top: 20px; /* Márgen superior */
        margin-bottom: 10px; /* Márgen inferior */
    }
</style>

