@model InventarioComputadoras.Models.Computadora
@{
    ViewData["Title"] = "Detalle de Software";
}

<style>
    body {
        background-color: #d9d9d9;
    }

    .card-body {
        background-color: #565656; /* Cambiar el color del fondo la tablas */
        color: #ffffff; /* Cambiar el color del texto dentro del card body */
        font-weight: bold; /* Hacer que el texto dentro del cuerpo de la tarjeta sea negrita */
    }

    .list-group-item {
        background-color: #333333; /* Cambiar el color de fondo de los elementos de la lista */
    }

        .list-group-item strong {
            color: #5a5aad; /* Cambiar el color del texto de los nombres a rojo */
        }

    .custom-text-color {
        color: #e6e1db; /* Cambia aquí el color de texto deseado para todos los elementos */
    }

</style>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Detalles de Software</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item custom-text-color"><strong>Estado Licencia de Windows: </strong> @Html.DisplayFor(m => m.LicenciaSO)</li>
                    <ul>
                        @if (Model.LicenciaSO == "Si")
                        {
                            <li class="list-group-item custom-text-color"><strong>Versión de Windows: </strong> @Html.DisplayFor(m => m.SistemaOperativo)</li>
                        }
                    </ul>
                    <li class="list-group-item custom-text-color"><strong>Estado Licencia de Office: </strong> @Html.DisplayFor(m => m.Office)</li>
                    <ul>
                        @if (Model.Office == "Si")
                        {
                            <li class="list-group-item custom-text-color"><strong>Versión de Office:</strong> @Html.DisplayFor(m => m.VersionOffice)</li>
                            <li class="list-group-item custom-text-color"><strong>Fecha Instalación de Office:</strong> @(Model.FechaOffice.HasValue ? Model.FechaOffice.Value.ToString("dd/MM/yyyy") : "")</li>
                        }
                    </ul>
                    <li class="list-group-item custom-text-color"><strong>Estado Licencia de Antivirus: </strong> @Html.DisplayFor(m => m.LicenciaAntivirus)</li>
                    <ul>
                        @if (Model.LicenciaAntivirus == "Si")
                        {
                            <li class="list-group-item custom-text-color"><strong>Proveedor: </strong> @Html.DisplayFor(m => m.VersionAntivirus)</li>

                        }
                    </ul>
                </ul>
                <a asp-controller="Inicio" asp-action="Index" style="color: #fff;">Volver</a>
            </div>
        </div>
    </div>
</div>
