@model InventarioComputadoras.Models.Computadora
@{
    ViewData["Title"] = "Detalle  de Hardware";
}

<style>
    body {
        background-color: #d9d9d9;
    }

    .card-body {
        background-color: #565656; /* Cambiar el color del fondo la tablas */
        color: #ffffff; /* Cambiar el color del texto dentro del card body */
        font-weight: bold; /* Hacer que el texto dentro del cuerpo de la tarjeta sea negrita */
    }

    .list-group-item {
        background-color: #333333; /* Cambiar el color de fondo de los elementos de la lista */
    }

    .list-group-item strong {
            color: #5a5aad; /* Cambiar el color del texto de los nombres a rojo */
    }

    .custom-text-color {
        color: #e6e1db; /* Cambia aquí el color de texto deseado para todos los elementos */
    }


</style>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong> Detalles de Computador </strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item custom-text-color"><strong>Tipo: </strong> @Html.DisplayFor(m => m.Tipo)</li>
                    <li class="list-group-item custom-text-color"><strong>Marca: </strong> @Html.DisplayFor(m => m.Marca)</li>
                    <li class="list-group-item custom-text-color"><strong>Número de Parte: </strong> @Html.DisplayFor(m => m.NParte)</li>
                    <li class="list-group-item custom-text-color"><strong>Número de Serie: </strong> @Html.DisplayFor(m => m.NSerie)</li>
                    <li class="list-group-item custom-text-color"><strong>MotherBoard: </strong> @Html.DisplayFor(m => m.MotherBoard)</li>
                    <li class="list-group-item custom-text-color"><strong>Procesador: </strong> @Html.DisplayFor(m => m.Procesador)</li>
                    <li class="list-group-item custom-text-color">
                        <strong>Memoria RAM:</strong>
                        <ul>
                            <li style="margin-left: 20px;">
                                <strong style="color: #ffc0cb; font-weight: lighter;">Tipo:</strong> @Html.DisplayFor(m => m.MemoriaRamTipo)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Modulos:</strong> @Html.DisplayFor(m => m.MemoriaModulos)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Capacidad:</strong> @Html.DisplayFor(m => m.MemoriaRamCapacidad)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Marca:</strong> @Html.DisplayFor(m => m.MemoriaRamMarca)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Número de Serie:</strong> @Html.DisplayFor(m => m.MemoriaRamNumeroParte)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Número de Parte:</strong> @Html.DisplayFor(m => m.MemoriaRamNumeroSerie)<br />
                            </li>
                        </ul>

                        <strong>Almacenamiento:</strong>
                        <ul>
                            <li style="margin-left: 20px;">
                                <strong style="color: #ffc0cb; font-weight: lighter;">Tipo:</strong> @Html.DisplayFor(m => m.AlmacenamientoTipo)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Capacidad:</strong> @Html.DisplayFor(m => m.AlmacenamientoCapacidad)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Marca:</strong> @Html.DisplayFor(m => m.AlmacenamientoMarca)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Número de Serie:</strong> @Html.DisplayFor(m => m.AlmacenamientoNumeroSerie)<br />
                                <strong style="color: #ffc0cb; font-weight: lighter;">Número de Parte:</strong> @Html.DisplayFor(m => m.AlmacenamientoNumeroParte)<br />
                            </li>
                        </ul>


                        <strong>Almacenamientos Adicionales:</strong>
                        <ul>
                            @if (Model.Almacenamientos != null && Model.Almacenamientos.Any())
                            {
                                foreach (var almacenamiento in Model.Almacenamientos)
                                {
                                    <li style="margin-left: 20px;">
                                        <strong style="color: #ffc0cb; font-weight: lighter;">Tipo:</strong> @Html.DisplayFor(m => almacenamiento.TipoAlmacenamiento)<br />
                                        <strong style="color: #ffc0cb; font-weight: lighter;">Capacidad:</strong> @Html.DisplayFor(m => almacenamiento.CapacidadAlmacenamiento)<br />
                                        <strong style="color: #ffc0cb; font-weight: lighter;">Marca:</strong> @Html.DisplayFor(m => almacenamiento.MarcaAlmacenamiento)<br />
                                        <strong style="color: #ffc0cb; font-weight: lighter">Número de Serie:</strong> @Html.DisplayFor(m => almacenamiento.NumeroSerieAlmacenamiento)<br />
                                        <strong style="color: #ffc0cb; font-weight: lighter;">Número de Parte:</strong> @Html.DisplayFor(m => almacenamiento.NumeroParteAlmacenamiento)<br />
                                    </li>
                                }
                            }
                            else
                            {
                                <li>No hay almacenamientos adicionales.</li>
                            }
                        </ul>
                        </ul>
                    </li>
                </ul>
                <a asp-controller="Inicio" asp-action="Index" style="color: #fff;">Volver</a>
            </div>
        </div>
    </div>
</div>
