@model InventarioComputadoras.Models.Computadora
@{
    ViewData["Title"] = "Detalle de Licencias";
}

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Detalles de Software</strong></h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Estado Licencia de Windows: </strong> @Html.DisplayFor(m => m.LicenciaSO)</li>
                    <li class="list-group-item"><strong>Estado Licencia de Office: </strong> @Html.DisplayFor(m => m.Office)</li>
                    @if (Model.LicenciaSO == "Si")
                    {
                        <li class="list-group-item"><strong>Versión de Windows: </strong> @Html.DisplayFor(m => m.SistemaOperativo)</li>
                    }
                    @if (Model.Office == "Si")
                    {
                        <li class="list-group-item"><strong>Versión de Office:</strong> @Html.DisplayFor(m => m.VersionOffice)</li>
                        <li class="list-group-item"><strong>Fecha Instalación de Office:</strong> @(Model.FechaOffice.HasValue ? Model.FechaOffice.Value.ToString("dd/MM/yyyy") : "")</li>
                    }
                    <li class="list-group-item"><strong>Estado Licencia de Antivirus: </strong> @Html.DisplayFor(m => m.LicenciaAntivirus)</li>
                    @if (Model.LicenciaAntivirus == "Si")
                    {
                        <li class="list-group-item"><strong>Proveedor: </strong> @Html.DisplayFor(m => m.VersionAntivirus)</li>

                    }

                </ul>
                <a asp-controller="Inicio" asp-action="Index">Volver</a>
            </div>
        </div>
    </div>
</div>
