@model IEnumerable<InventarioComputadoras.Models.Computadora>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    body {
        background-color: #d9d9d9;
    }

    .table {
        background-color: #c3c3c3 !important; /* Cambiar Color del fondo de la tabla */
    }

    .table th,
    .table td {
            background-color: #828282; /* Cambiar el color del fondo de las celdas */
        color: #ffffff; /* Cambia el color del texto en las celdas */
        padding: 10px; /* Agregar margen interno a las celdas */
    }

    .table th {
            background-color: darkslategray; /* Cambiar el color del fondo de los encabezados de columna */
        color: #ffffff; /* Cambia el color del texto en los encabezados de columna */
    }

    .card-body {
        background-color: #565656; /* Cambiar el color del fondo de los encabezados de columna */
    }

    tr {
        background-color: #828282; /* Cambiar el color del fondo de las filas */
    }

</style>

<h1 class="text-center"></h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Inicio" class="btn d-block mx-auto btn-lg" style="background-color: #5F51F3; border-color: #5F51F3; color: #ffffff;">Nuevo Computador</a>
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong> Lista de Computadores </strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if(Model.Count()>0)
                    {
                        <table class="table table-bordered" id="tblComputadoras" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                                    <th>@Html.DisplayNameFor(m => m.Oficina)</th>
                                    <th>@Html.DisplayNameFor(m => m.NombreAnterior)</th>
                                    <th>@Html.DisplayNameFor(m => m.NombreNuevo)</th>
                                    <th>@Html.DisplayNameFor(m => m.Departamento)</th>
                                    <th>@Html.DisplayNameFor(m => m.DireccionIp)</th>
                                    <th>@Html.DisplayNameFor(m => m.LicenciaSO)</th>
                                    <th>@Html.DisplayNameFor(m => m.Office)</th>
                                    <th>@Html.DisplayNameFor(m => m.LicenciaAntivirus)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Id)</td>
                                        <td>@Html.DisplayFor(m => item.Oficina)</td>
                                        <td>@Html.DisplayFor(m => item.NombreAnterior)</td>
                                        <td>@Html.DisplayFor(m => item.NombreNuevo)</td>
                                        <td>@Html.DisplayFor(m => item.Departamento)</td>
                                        <td>@Html.DisplayFor(m => item.DireccionIp)</td>
                                        <td>@Html.DisplayFor(m => item.LicenciaSO)</td>
                                        <td>@Html.DisplayFor(m => item.Office)</td>
                                        <td>@Html.DisplayFor(m => item.LicenciaAntivirus)</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="accionesDropdown_@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #fa6607; color: #212529;">
                                                    Acciones
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="accionesDropdown_@item.Id">
                                                    <a class="dropdown-item m-1" href="@Url.Action("Editar", "Inicio", new { id = item.Id })" style="background-color: #ffc107; color: #212529;">Editar</a>
                                                    <a class="dropdown-item m-1" href="@Url.Action("DetalleComputador", "Inicio", new { id = item.Id })" style="background-color: #17202A; color: #FFFFFF;">Detalles de Computador</a>
                                                    <a class="dropdown-item m-1" href="@Url.Action("DetalleSoftware", "Inicio", new { id = item.Id })" style="background-color: #17202A; color: #FFFFFF;">Detalles de Software</a>
                                                    <a class="dropdown-item m-1" href="@Url.Action("DetalleAdquisicion", "Inicio", new { id = item.Id })" style="background-color: #17202A; color: #FFFFFF;">Detalles Adquisición</a>
                                                    <a class="dropdown-item m-1" href="@Url.Action("Borrar", "Inicio", new { id = item.Id })" style="background-color: #D41B1B; color: #FFFFFF;">Borrar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>    
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tblComputadoras').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}